.products__page {
   position: relative;
   top: 25rem;
   display: flex;
   width: 100%;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.products__page__title {
   font-weight: var(--font-weight-semibold);
   color: var(--color-neutral-900);
   margin-bottom: 1.5em;
}

.products__grid {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
   row-gap: 1em;
   padding-bottom: 2em;
}