

.empty__cart__page {
   display: flex;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: transparent;
}

.empty__cart__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.empty__cart__image {
   width: 150%;
}

.empty__cart__paragraph {
   margin-bottom: 1.5rem;
   font-size: 2rem;
   line-height: 2rem;
   font-weight: 800;
   letter-spacing: 0.025em;
   color: hsl(196, 0%, 10%);
}

.empty__cart__button {
   border-radius: 5px;
   background-color: hsl(196, 0%, 10%);
   padding: 0.5em 1em;
   font-size: 1.25rem;
   font-weight: 600;
   letter-spacing: 0.05em;
   color: white;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 200ms;
}