
.criteria__section {
   margin-top: calc(0.25rem * calc(1 - 0));
   margin-bottom: calc(0.25rem * 0);
   letter-spacing: 0.05em;

}
.criteria__neutral {
   width: calc(3px * 4);
   height: calc(3px * 4);
   margin-right: 0.5rem;
   font-weight: 700 !important;
   color: hsl(211.2, 0%, 48%);
}

.criteria__success {
   width: calc(3px * 4);
   height: calc(3px * 4);
   margin-right: 0.5rem;
   font-weight: 700 !important;
   color: hsl(100, 96%, 33%);
}

.criteria__alert {
   width: calc(3px * 4);
   height: calc(3px * 4);
   margin-right: 0.5rem;
   /*color: hsl(0, 96%, 33%);*/
   color: hsl(211.2, 0%, 48%);
}

.flex__align__items__center {
   display: flex;
   align-items: center;
   font-size: 0.75rem;
   line-height: 1rem;
}

.text__success__400 {
   color: hsl(100, 96%, 33%);
   font-weight: 700 !important;
}

.text__neutral__400 {
   /*color: hsl(0, 96%, 33%);*/
   color: hsl(211.2, 0%, 48%);
}

.bg__grey__600 {
   background-color: rgb(75,85,99);
}

.margin__top__2 {
   /*margin-top: calc(0.25rem * calc(1 - 0));*/
   margin-top: 0.5rem;
}

.flex__margin__bottom__1 {
   margin-bottom: 0.25rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.text__grey__900 {
   font-size: 0.75rem;
   line-height: 1rem;
   font-weight: 600;
   letter-spacing: 0.05em;
   color: rgb(17,24,39);
}

.text__grey__800 {
   font-size: 0.75rem;
   line-height: 1rem;
   font-weight: 600;
   letter-spacing: 0.05em;
   color: rgb(55,65,81);
}

.flex__spaceX__1 {
   display: flex;
   margin-right: calc(0.25rem * 0);
   margin-left: calc(0.25rem * calc(1 - 0));
}

.height__width__4 {
   height: 0.25rem;
   width: 25%;
   border-radius: 9999px;
   transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 300ms;
}